<%- include("../layouts/userheader.ejs") %>
<%- include("../layouts/navbar.ejs") %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="my-5 d-flex flex-column justify-content-center align-items-center">
<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_0df8dldf.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
<h5 class="text-secondary" >Order placed successfully <a href="/shop">Shop more</a></h5>
</div>
<%- include("../layouts/footersection.ejs") %> 
<%- include("../layouts/userfooter.ejs") %> 